* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 1600px;
  margin: 0 auto;
}

.button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color:#666666;
  color: #e0e0e0;
  font-size: 24px;
}

.cars__wrapper {
  margin-top: 20px;
}

.cars__item {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-between;
  border: 2px solid #282c34;
}

.cars__item__field {
  border-left: 2px solid #282c34;
  border-right: 2px solid #282c34;
  padding: 7px 0;

}

.cars__wrapper__header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color:#2842d8;
  font-size: 24px;
  color:aliceblue;
  border: 2px solid #282c34;
}

.cars__list {
  display: grid;
  grid-template-rows: repeat(auto, 1fr);
  background-color:#e0e0e0;
  margin-bottom: 60px;
}

.cars__item__field__header {
  padding: 20px 0;
}

.cars__item__field__header, .cars__item__field {
  display: flex;
  justify-content: center;
  border-left: 2px solid #282c34;
  border-right: 2px solid #282c34;
}

.filter {
  margin-top: 20px;
  margin-right: 20px;
  width: 200px;
  height: 50px;
  font-size: 24px;
  background-color:#282c34;
  color: #fff;
}

.filter__item {
  display: flex;
  padding: 30px;
  background-color:#666666;
  width: max-content;
}

label {
  padding: 0 20px;
  font-size: 24px;
}

button {
  color:aliceblue;
  background-color:#2842d8;
  border: none;
  padding: 10px 25px;
  margin-top: 20px;
  margin-right: 20px;
}